<h1 style="text-align: center;">Account Recovery</h1>
<br>
<br>
<br>
<form #forgotForm="ngForm" (ngSubmit)="forgot(forgotForm)" role="form" style="width: 40% ; margin: auto; background-image: url('assets/images/traffis-police.jpg');">

  <div class="form-group">
    <h4 style="color:darkgrey; text-align: center; ">This helps show that this account really belongs to you</h4>
     <input type="email" name="email" ngModel class="form-control" id="email" placeholder="Enter your Email">
   </div>

  

  <button type="submit" class="btn btn-success" style="margin-left: 40%;">send OTP</button>
</form>
