<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
<form #myDoc="ngForm" (ngSubmit)="fileupload(myDoc)" role="form" enctype="multipart/form-data">

  <div class="form-group">
   Doucment Name
    <input type="text" class="form-control" ngModel name="doc_Name" value="" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    Upload Document
     <input (change)="onFileUpload($event)" type="file"  class="form-control" name="filepath" placeholder="Input field">
   </div>
   <!-- <div class="form-group" >
   User Id
     <input type="text" class="form-control" name="doc_Name" [(ngModel)]="id" id="" placeholder="Input field">
   </div> -->

  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>

