
<div class="container">
  <div class="table-wrapper">
      <div class="table-title">
          <div class="row">
              <div class="col-sm-6">
      <h2>Manage <b>Exam Module</b></h2>
            </div>
            <div class="col-sm-6">
                <a routerLink="/addQuestion" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Question</span></a>
                
        </div>
    
      </div>

  </div>
  <div class="container">
    <h2>Questions</h2>
    <ul class="list-group">
     
      
      <div class="table-responsive">
        <table class="table table-hover" >
          <thead>
            <tr>
                <th>
                    <span class="custom-checkbox">
                      <input type="checkbox" id="selectAll">
                      <label for="selectAll"></label>
                    </span>
                  </th>
                <th>Question Id</th>
                <th>Question</th>
                <th>Option1</th>
                <th>Option2</th>
                <th>Option3</th>
                <th>Option4</th>
                <th>Answer Key</th>
                
            </tr>
          </thead>
              

      <tbody style="font-size: 15px">
          <tr *ngFor="let question of questions">
        

            
            <td> <input type="checkbox" id="checkbox" name="options[]" value="1"></td>
            <td>{{question.qid}}</td>
            <td>{{question.question}}</td>
            <td>{{question.option1}}</td>
            <td>{{question.option2}}</td>
            <td>{{question.option3}}</td>
            <td>{{question.option4}}</td>
            <td>{{question.answerKey}}</td>


            <td>
              <button type="button"  class="delete" class="btn btn-danger" (click)="deleteQuestion(question.qid)">Delete</button><br>
              </td>&nbsp;&nbsp;
            <td> <button type="button"   (click)="senddata(question.qid)" class="updatequestion" class="btn btn-success"  (click)="updateQuestion(question.qid)">Edit</button></td>
        </tr>
      </tbody>
  


          