<h1 style="text-align: center;">Add RTO</h1>


 

  <div class="form-group">
    User Id
    <input type="text" name="userId" ngModel class="form-control" [(ngModel)]="aduserId" id="user" placeholder="" disabled>
  </div>

    <div class="form-group">
        RTO Name 
        <input type="text" name="userName" ngModel class="form-control"[(ngModel)]="aduserName" placeholder="Enter RTO Name">
      </div>
    
      <div class="form-group">
       Email
        <input type="email" name="email" ngModel class="form-control" [(ngModel)]="ademail" placeholder="Enter Email ">
      </div>
      <div class="form-group">
          Password
           <input type="password" name="password" ngModel class="form-control" [(ngModel)]="adpassword" placeholder="Enter Password">
         </div>
          
      
      <button type="submit" (click)="updateRto()" class="btn btn-success">update RTO</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>
    
    