<h1 style="text-align: center;">Login</h1>


<!-- <div>
  <img src="assets/images/road.jpeg">
  
</div> -->


 <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" role="form" style="width: 40% ; margin: auto; background-image: url('assets/images/traffis-police.jpg');">

  
  <div class="form-group">
    <label for="EmailId">Email</label>
    <input ngModel type="text" class="form-control" id="EmailId" required email name="email" #EmailId="ngModel" #spy>
    <div *ngIf="EmailId.invalid && (EmailId.dirty || EmailId.touched || EmailId.pristine)" class="alert alert-danger">
      <div *ngIf="EmailId.errors.required">
          Email id is required.
      </div>
      <div *ngIf="EmailId.errors.email">
          Email Id must be valid.
      </div>
  </div>   
  </div>

   
  <div class="form-group">
    <label for="Password">Password</label>
    <input ngModel type="password" class="form-control" id="Password" required minlength="3" maxlength="10" name="password" #Password="ngModel" #spy>
    <div *ngIf="Password.invalid && (Password.dirty || Password.touched || Password.pristine)" class="alert alert-danger">
      <div *ngIf="Password.errors.required">
          Password is required.
      </div>
      <div *ngIf="Password.errors.minlength">
          Password must be at least 3 characters long.
      </div>
  </div>   
</div>



   <button type="submit" class="btn btn-success">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>
    
    <button type="submit" class="btn btn-warning" style="margin-left: 55%" (click)="signup()">Sign Up</button>

    <br>
    <br>
    <br>
    <div style="text-align: center;">
      <a routerLink="/forgot" style="text-underline-position: below;">Forgot Password?</a>
      
    </div>
</form>

 
