
<h1 style="text-align: center;">LLR Application Form</h1>

<br>
<br>

  
<form #appForm="ngForm" (ngSubmit)="addApplication(appForm)" role="form" style="width: 40% ; margin: auto;">

  <div class="form-group">
     Address
    <input type="text" name="address" ngModel class="form-control" id="address" placeholder="Enter your address">
  </div>

  <div class="form-group">
   Aadhar Number
    <input type="text" name="aadharNo" ngModel class="form-control" id="aadharNo" placeholder="Enter your Aadhar Number">
  </div>
  
  <div class="form-group">
    Gender
  <select name="gender" ngModel required class="form-control">
    <option value="MALE">MALE</option>
    <option value="FEMALE">FEMALE</option>
    <option value="OTHER">OTHER</option>
  </select>
  </div>

    
  <div class="form-group">
        Date of Birth
       <input type="date" name="dob" ngModel class="form-control" id="dob" >
  </div>

  <div class="form-group">
      Blood Group
    <select name="bloodGroup" ngModel required class="form-control">
      <option value="O">O+ve</option>
      <option value="A">A+ve</option>
      <option value="B">B+ve</option>
      <option value="AB">AB+ve</option>
    </select>
    </div>

  <div class="form-group">
    Qualification
    <input type="text" name="qualification" ngModel class="form-control" id="qualification" placeholder="Enter your Qualification">
  </div>

  <div class="form-group">
    Document details
    <input  type="file" id="document" ngModel class="form-control"  name="document">
  </div>

  <div class="form-group">
    Date of Application
    <input type="date" name="appDate" ngModel class="form-control" id="appDate"  >
  </div>
<!--   
  <div class="form-group">
    Vehicle Type
    <br>
    <input type="checkbox" ngModel class="form-control" name="vehicleType" value="TWOWHEELER"> TWOWHEELER
    <input type="checkbox" ngModel class="form-control" name="vehicleType" value="FOURWHEELER"> FOURWHEELER<br>
  </div> -->

  <div class="form-group">
    Vehicle Type
  <select name="vehicleType" ngModel >
    <option value="TWOWHEELER">TWOWHEELER</option>
    <option value="FOURWHEELER">FOURWHEELER</option>
    
  </select>
  </div>

  <button type="submit" class="btn btn-success">SUBMIT</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 
  
  <button type="submit" style="text-align: end;" class="btn btn-warning">Update</button>
</form>


