
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
        <h2>User Verification<b> by RTO</b></h2>
              </div>
           
      
        </div>
  
    </div>
    <div class="container">
     
      <ul class="list-group">
       
        
        <div class="table-responsive">
          <table class="table table-hover" >
            <thead>
              <tr>
                  <th>
                      <span class="custom-checkbox">
                        <input type="checkbox" id="selectAll">
                        <label for="selectAll"></label>
                      </span>
                    </th>
                  <th>User Id</th>
                  <th>User Name</th>
                  <th>User Email</th>

                 
                  
                  
              </tr>
            </thead>
                
  
        <tbody style="font-size: 15px">
            <tr *ngFor="let user of users">
          
  
              
              <td> <input type="checkbox" id="checkbox" name="options[]" value="1"></td>
              <td>{{user.userId}}</td>
              <!-- <td>{{user.app.appId}}</td> -->
              <td>{{user.userName}}</td>
              <td>{{user.email}}</td>
             
              
            <td>
                <td> <button type="button"   (click)="senddata(user.userId)" class="viewApplication" class="btn btn-success"  (click)="getUser(user.userId)">View Form</button></td>&nbsp;&nbsp;
              <td> <button type="button"   (click)="senddata(user.userId)" class="updateRto" class="btn btn-success"  (click)="updateRto(user.userId)">Change Status</button></td>&nbsp;&nbsp;
              <td> <button type="button"    class="issueLicense" class="btn btn-success"  (click)="issue()">Issue License</button></td>
           
          </tr>
        </tbody>
    
  
  
            