<h2>Regional Transport Office Pune</h2>

<p>
    Department of Transport functions under Motor Vehicle Act, 1988 of section 213. 
    This Pune rto was basically founded to impose the Motor Vehicle Act 1988 provisions. 
    Transport Commissioner of the state administers the Department of rto office mp; Commissioner of Transport is directly reported by Deputy Commissioner of Transport.
  
</p>

<h2>Services At Regional Transport Office Pune:</h2>
<ul style="list-style-type:disc;">
    <li>Implements the Motor Vehicles Act, 1988 provisions and Central Motor Vehicles Rules, 1989 as well as Maharashtra Motor Vehicles Regulations, 1989</li>
    <li>Issuance/renewal of license</li>
   
  </ul>

<div class="table-responsive">
  <img src="assets/images/rto_office.jpeg">
</div>
