<h2>RTO Rules for Imported Vehicles</h2>
<p>
    For the car lovers in India, love for luxury and thrill for speed is on an ace. Big names like Rolls-Royce, Lamborghini, Bentley, Harley, BMW, Hummer are intensifying their catch on the Indian customer. Owning an imported vehicle is probably still a luxury many can’t afford, but there are a lucky few who can turn this dream into a reality and if you are one of them, Congratulations! 
    In this article, we will discuss the RTO Rules and Regulations as a Guide for Imported Vehicles.
</p>

<h3>RTO Rules and Regulations</h3>
<p>
    Imported vehicles are considered to be a part of foreign trade, therefore, Ministry of Commerce and Industry, Directorate General of Foreign Trade, Export-Import Policy Department along with Motor Act are all a part of the importation procedure.
     There are some requirements which as per the RTO office, must be met when importing a vehicle:
</p>

<ul style="list-style-type:disc;">
<li>The speedometer of the vehicle has to comply with the measuring units used in India.</li>
<li> The imported car should be a right-hand drive.</li>
  <li>The photometry of the vehicle should suit ‘Keep Left’ traffic.</li>
    <li>All the formalities of the Motor Act 1988 must be fulfilled.</li>

</ul>

<p>
    Let us also understand that there are two categories of Imported Vehicles-New Imported Vehicles and Used Imported Vehicles. Thus, you need to know the Guide for Imported Vehicles.
</p>
<p>
    Though the above-mentioned rules apply to both the categories, there are some guidelines for each:
</p>

<h4>The RTO Rules and Regulations for New Imported Vehicles</h4>
<ul style="list-style-type:disc;">
<li>The vehicle has neither been manufactured nor assembled in India.</li>
<li>Before it's importation to India, the vehicle has neither been sold nor leased.</li>
<li>Prior to importation, the vehicle has not been registered in any other country.</li>
</ul>
<p>
    Also, whether it is a dealer or an importer who is importing the vehicle, should have a valid certificate of compliance as ordered by the Central Motor Vehicle Rules (CMVR), 1989, rule number 126. He should also submit the proof of compliance as per rule 126A, within 6 months of the import.
</p>>

<h4>The RTO Rules and Regulations for Used Imported Vehicles</h4>
<ul style="list-style-type:disc;">
<li>The used vehicle must not be more than three years old.</li>
<li>The vehicle must comply with the provisions laid down by the Motor Vehicle Act,1988.</li>
</ul>
<p>
    When importing the vehicle, the importer or the dealer has to submit a certificate that is issued by a testing agency that the used vehicle is being imported into India. The certificate must also state that the vehicle has been tested and complies to the original homologation certificate.
</p>

<h3>
    The RTO Rules and Regulations for Registration
</h3>
<p>
    The imported vehicle has to receive RTO Registration number from the nearest RTO office. For the first 7 days, the vehicle receives a Temporary RTO Registration number, after which the owner has to apply for a permanent RTO number. The RTO online form can be downloaded from the official website.
</p>


<div class="table-responsive">
  <table class="table table-hover">
    
    <tbody>
      <tr>
        <td><img src="assets/images/sign1.jpg"></td>
      </tr>
    </tbody>
  </table>
</div>
